.book-preview-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .book-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .book-author {
    font-size: 18px;
    color: #dcd8d8;
    text-align: right;
    margin-bottom: 20px;
  }
  
  .book-content {
    padding: 20px 0;
  }
  
  .summary-heading {
    font-size: 24px;
    color: #eee7e7;
    margin-bottom: 10px;
  }
  
  .summary {
    font-size: 18px;
    line-height: 1.6;
    color: #ded5d5;
  }
  
  .loading-text {
    font-size: 18px;
    text-align: center;
    color: #666;
  }
  